# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Logs
logs/

# Demo audio (optional, if too large)
# demos/call_demo_examples/*.wav

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.dockerignore

# Others
*.log
